
html, body {
    margin: 0;
    padding: 0;
}


header {
    color: white;
    background-color: #004080;
    padding: 20px;
    margin: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}


div {
    display: flex;
    justify-content: space-around;
    background-color: #003366;
    color: white;
    padding: 10px;
    margin: 0; 
}


div a {
    text-decoration: none;
    color: white;
}


div a:hover {
    text-decoration: underline;
}


main {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin: 0px;
}


ul {
    display: inline-block;
}


footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0; 
}
